<!doctype html>
<html lang="en">
<head>

<title>new</title>

</head>
<body>

<h1>add</h1>
<form action="/urls/new" method="POST">

	<input name="long" type="text" placeholder="https://hello.me">
	<button>make small</button>

</form>

<p>
	<a href="/urls">back to list</a>
</p>

</body>
</html>