<!doctype html>
<html lang="en">
<head>

<title>all</title>

</head>
<body>

<% include partials/_nav %>
<h1>all</h1>

<table style="border: 1px solid black">

	<% if (Object.keys(urls).length === 0) { %>

		<p>No URL's to display</p>

	<% } else { %>
		<% for (let url in urls) { %>
			<% if (urls[url].owner === user_id) { %>

			<tr>
				<td>
					<%= urls[url].url_id %>
				</td>
				<td>
					<%= urls[url].long %>
				</td>
				<td>
					<a href="/urls/<%= urls[url].url_id %>">Edit</a>
				</td>
				<td>
					<form action="/urls/<%= urls[url].url_id %>/delete" method="POST">
						<button type="submit">delete</button>
					</form>
				</td>
			</tr>

			<% } %>
		<% } %>
	<% } %>

</table>

</body>
</html>